// {
//     "extends": [
//         "eslint-config-react"
//     ], //启用eslint-config-react中的规则
//     "plugins": [
//         "react"
//     ],
//     "rules": {
//         // Add your specific rules here
//     }
// }